.login-wrapper {
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  width: 100%;
  justify-content: left;
}
.login-wrapper form {
  /* border: 2px solid #3de01c; */
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding-top: 20%;
  padding-bottom: 5%;
  z-index: 2;
  width: 100%;
  flex: 1;
  justify-content: flex-start;
}
.login-wrapper form h2 {
  /* border: 1px solid pink; */
  margin-bottom: 15%;
}
.login-input-wrapper {
  /* border: 1px solid green; */
  margin-bottom: 10%;
}
.login-wrapper form input {
  width: 90%;
  margin-bottom: 5%;
  outline: none;
  font-size: large;
  border: none;
  border-bottom: 1px white solid;
  background-color: transparent;
  margin-top: 3%;
  padding: 2%;
}

.auth-links-wrapper {
  margin-top: 10%;
}
.create_account {
  display: flex;
  /* border: 1px solid yellow; */
  align-items: center;
  justify-content: center;
  gap: 2%;
}
.create_account a {
  color: #3de01c;
  text-decoration: underline;
}
.login-buttons-wrapper {
  display: flex;
  /* flex-direction: column; */
  /* border: 1px solid rgb(196, 106, 121); */
  justify-content: center;
  gap: 5%;
}
.login-button {
  width: 40%;
  padding: 10px;
  background-color: #3de01c;
  color: black;
}
.google-login-button {
  width: 40%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.google-login-button:hover {
  background-color: rgb(224, 224, 224);
  border-color: black;
}
.login-button:hover {
  background-color: #2ea915;
  border-color: black;
}
.login-builder-wrapper {
  /* border: 3px solid blue; */
  flex: 1.5;
}
.login-builder-wrapper img {
  width: 140%;
  height: 110%;
  /* border: 1px solid yellow; */
}
.signup-avatar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}
.avatar-img-container {
  display: flex;
  align-items: center;
  /* border: 1px solid rgb(33, 177, 95); */
}
.avatar-img-container img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  object-fit: cover;
}

/* desktops */
@media (min-width: 768px) {
  .login-wrapper {
    overflow: hidden;
  }
}

/* mobiles */
@media (max-width: 767px) {
  .login-wrapper {
    overflow: hidden;
  }
  .login-builder-wrapper {
    /* border: 3px solid blue; */
    flex: 0;
  }
}
