.example {
  stroke: #3de01c;
  margin-left: 0%;
  position: absolute;
  left: 8%;
  top: 30%;
  z-index: 2;
}

/* for tabs */
@media (min-width: 768px) and (max-width: 991px) {
  .example {
    /* top: 31.4%; */
    top: 276px;
    width: 80%;
  }
}

/* CSS for Mobiles  */
@media (max-width: 767px) {
  .example {
    /* top: 30.3%; */
    top: 260px;
    width: 80%;
  }
}
/* CSS for Desktops  */
@media (min-width: 992px) {
  .example {
    /* top: 31%; */
    top: 280px;
    width: 80%;
  }
}
