.zoro-wrapper {
  height: 595px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.zoro-container {
  border: 1px solid rgb(40, 40, 40);

  border-radius: 10px;
  width: 100%;

  height: 100%;
  display: flex;
  overflow: hidden;
}

.zoro-chat {
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(../../assets/zorobuddybackground.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* left: 12%;
  top: 5%; */

  flex: 2;
  /* background-color: black; */
  display: flex;
  flex-direction: column;

  /* min-width: 0; */
}
.noChatYet {
  background-image: url(../../assets/gymBuddyAvatar.jpg);
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

  /* left: 12%;
  top: 5%; */

  flex: 2;
  /* background-color: black; */
  display: flex;
  flex-direction: column;
}

.zoroChats {
  background-color: black;
  height: 595px;
  overflow-y: scroll;
}
.conversation {
  flex: 4;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  /* border: 1px solid red; */
  position: relative;
}
.zoro-sidebar {
  flex: 1;
  background-color: rgb(0, 0, 0);
  min-width: 0;
}
.yourMessages {
  /* background-color: white; */
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: right;
  padding-right: 0.5%;
  margin-bottom: 3px;
}
.otherMessage {
  /* background-color: grey; */
  color: black;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 3px;
  padding-left: 0.5%;
}
.yourMessages .chatMessage {
  background-color: #21db30;
  border-radius: 10px;
  /* max-width: 80%;
  min-width: 50px; */
  padding: 10px;
  text-align: start;
  overflow-wrap: break-word;
  /* margin-right: 2%; */
}
.otherMessage .chatMessage {
  background-color: rgb(141, 141, 141);
  border-radius: 10px;
  height: auto;
  /* max-width: 80%;
  min-width: 50px; */
  padding: 10px;
  text-align: start;
  overflow-wrap: break-word;
  /* margin-left: 2%; */
}
.chatMessage {
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  min-width: 50px;
  /* gap: 4px; */
}
.message-content {
  /* border: 1px solid black; */
  max-width: 300px;
  min-width: 100px;
  padding-right: 5px;
}
.message-timing {
  /* border: 1px solid blue; */
  font-size: 10px;
  /* height: 130%; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.sendMessage form {
  flex: 0;
  /* border: 1px solid white; */
  margin-top: 10px;
  /* margin-bottom: 10px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  /* padding-right: 10px; */
  background-color: rgb(25, 25, 25);
  /* border: 1px solid rgb(0, 0, 0); */
}
.sendMessage input {
  height: 30px;
  width: 100%;
  border-radius: 20px;
  outline: none;
  /* border: 1px solid grey; */
  border: none;
  padding-left: 10px;
  background-color: rgb(43, 43, 43);
}
.sendMessage button {
  background-color: #21db30;
  border-radius: 50%;
  width: 45px;
  height: 38px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  border: none;
}
.sendMessage .sendMessageButton {
  outline: none;
}
.sendMessage .message-options {
  background-color: transparent;
  color: white;
  /* border: 1px solid white; */
  font-size: 25px;
  outline: none;
}
.zoro-navbar {
  display: flex;
  align-items: center;
  /* background-color: rgb(55, 55, 55); */
  height: 50px;
  padding: 10px;
  justify-content: space-between;
}
.zoro-navbar .zoro-logo {
  font-weight: bold;
  font-size: 25px;
}
.zoro-navbar .zoro-user {
  display: flex;
  gap: 10px;
}
.zoro-navbar .zoro-user img {
  background-color: black;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  object-fit: cover;
}
.zoro-user-search .zoro-searchForm {
  padding: 10px;
  /* border: 1px solid red; */
  width: 92%;
  display: flex;
  justify-content: flex-start;
  /* border-bottom: 1px solid rgb(96, 96, 96); */
}
.zoro-user-search .zoro-searchForm input {
  /* background-color: transparent;
  color: rgb(255, 255, 255);
  border: none;
  border-bottom: 1px solid rgb(96, 96, 96);
  outline: none;
  width: 90%; */
  /* cursor: pointer; */
  height: 30px;
  width: 100%;
  border-radius: 10px;
  outline: none;
  /* border: 1px solid grey; */
  border: none;
  padding-left: 10px;
  background-color: rgb(43, 43, 43);
}
/* .zoro-user-search .zoro-searchForm input::placeholder {
  color: rgb(73, 73, 73);
} */

.userChat {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;
  border-bottom: 1px solid rgb(26, 26, 26);
}
.userChat:hover {
  background-color: rgb(26, 26, 26);
}
.userChat img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  background-color: black;
}
.userChatInfo {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.userChatInfo span {
  font-size: 15px;
  font-weight: 500;
  /* border: 1px solid rgb(255, 0, 0); */
  /* height: 20px;
  overflow: hidden; */
}
.userChatInfo p {
  font-size: 12px;
  color: rgb(123, 123, 123);
  height: 20px;
  overflow: hidden;
  overflow-wrap: break-word;
  text-align: left;
  /* border: 1px solid rgb(14, 0, 174); */
}
.convo-header {
  display: flex;
  align-items: center;
  /* background-color: rgb(55, 55, 55); */
  background-color: rgb(25, 25, 25);
  height: 50px;
  padding: 10px;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 10px;
  /* border-left: 1px solid rgb(90, 90, 90); */
}
.convo-header img {
  background-color: black;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  object-fit: cover;
}
/*--------------------------------------------------------*/
/* .messageOptionsListWrapper {
  background-color: #21db30;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 4%;
} */

.messageOptionsList {
  list-style: none;
  /* background-color: aliceblue; */
  /* background-color: rgb(43, 43, 43); */
  background-color: rgb(219, 219, 219);
  color: black;
  width: 40px;
  display: flex;
  flex-direction: column;
  /* padding: 0; */
  margin: 0;
  margin-left: 6%;
  position: absolute;
  top: 600px;
  border-radius: 10px;
}

.messageOptionsList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
  border-radius: 10px;
  width: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.messageOptionsList li:hover {
  /* background-color: rgb(72, 72, 72); */
  background-color: rgb(156, 156, 156);
}
/*--------------------------------------------------------*/
@media (max-width: 425px) {
  .zoro-container {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }

  .zoro-chat {
    flex: 1;
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .zoroChats {
    background-color: black;
    flex: 1;
    overflow-y: auto;
  }

  .conversation {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
  }
  .messageOptionsList {
    /* list-style: none;
    background-color: aliceblue;
    color: black; */
    width: 60px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0;
    padding-left: 10px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin: 0; */
    margin-left: 5%;
    top: 686px;
  }

  .messageOptionsList li {
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
  }
}
@media (min-width: 768px) {
  .conversation {
    position: relative;
  }
  .messageOptionsList {
    /* list-style: none;
    background-color: aliceblue;
    color: black; */
    width: 60px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0;
    padding-left: 10px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin: 0; */
    margin-left: 1.5%;
  }

  .messageOptionsList li {
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
  }
}

/* CSS for Tablets */
@media (min-width: 426px) and (max-width: 767px) {
  .conversation {
    position: relative;
  }
  .messageOptionsList {
    /* list-style: none;
    background-color: aliceblue;
    color: black; */
    width: 60px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0;
    padding-left: 10px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin: 0; */
    margin-left: 3.5%;
    top: 695px;
  }

  .messageOptionsList li {
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
  }
}
